body{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: rgb(165, 158, 158);
}
:root{
    --flag-height:200px
}
.container{
    height: var(--flag-height);
    width: calc(var(--flag-height)*3/2);
    display: flex;
    justify-content: center;
    align-items: center;

}
.white{
    height: var(--flag-height);
    width: calc(var(--flag-height)/2);
    background-color: white;
}
.red{
    width: var(--flag-height);
    height:calc(var(--flag-height)/2) ;
    background-color: red;
}
.green{
    width: var(--flag-height);
    height:calc(var(--flag-height)/2) ;
    background-color: green;
}