*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: chocolate;

}
.wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;

}
.wrapper .loader{
    display: flex;
    justify-content:space-between ;
    padding: 0 20px;
}
.loader .loading{
    background: antiquewhite;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 10px;
    animation: load 0.8s ease infinite;
}
.loader .loading.one{
    animation-delay: 0.3s;
}
.loader .loading.two{
    animation-delay: 0.4s;
}
.loader .loading.three{
    animation-delay: 0.5s;
}


@keyframes load{
    0%{
        width: 50px;        
        height: 50px;        
    }
    50%{
        width:40px;
        height:40px
    }
}