body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
.container{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.square{
    background-color: rgb(236, 63, 63);
    height: 10%;
    width: 10%;
    margin: 10px;
    animation: rotate infinite alternate 1s;
}
.square1{
    background-color: red;
}
.square2{
    background-color: orange;
}
.square3{
    background-color: blue;
}
@keyframes rotate {
    from{
       transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}

